.like {
  margin: 3rem 0;
  border-radius: 20px;
  background-color: var(--green);
  position: relative;
  height: 29rem;
  // padding-top: 80px;
  overflow: hidden;
  z-index: 1;
  .background {
    z-index: -1;
    .ellipse {
      position: absolute;
      height: 100%;
      width: 28rem;
      border-radius: 100%;
      filter: blur(100px);
    }
    .pink {
      bottom: -75%;
      left: -15%;
      background-color: var(--light-green);
    }
    .green {
      top: -50%;
      right: -15%;
      background-color: var(--light-green);
    }
  }
  .container {
    min-height: auto;
    width: 500px;
    // background-color: aqua;
    display: block;
    float: left;
    margin-left: 40px;
    margin-top: 120px;
    img{
      width: auto;
      display: block;
      margin-top: -80px;
      // margin-right: 40px;
      // padding-right: 20px;
      margin-left: -70px;
    }
  }
  .content{
    min-height: auto;
    width: 385px;
    // background-color: aquamarine;
    display: block;
    float: right;
    margin-left: 15px;
    margin-right: 30px;
    margin-top: 60px;
    // padding-bottom: 20px;
    margin-bottom: 20px;
    text-align: center;
    font-family: "Barlow",sans-serif;
    font-size: 16px;
  }

}

@media screen and (min-width: 280px) and (max-width: 1080px) {
  .like {
    margin: 0;
    .container {
      grid-template-columns: 1fr;
      gap: 0;
      .content {
        padding: 1rem 2rem;
        border-radius: 0;
        &:nth-of-type(2) {
          background-color: var(--background);
        }
      }
    }
  }
}
