.card-image {
    // background-color: aqua;
    margin-left: -40px;
    margin-right: -40px;
    img {
      width: 280px;
      height: 250px;
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
    }
}
